button {
  padding: 0.3rem 0.5rem;
  background-color: forestgreen;
  border: 0.2vmin solid transparent;

  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  color: whitesmoke;

  font-family: blackwidow, sans-serif;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(38, 153, 38);
}

button:active {
  background-color: rgb(30, 124, 30);
}

button.outline {
  background-color: transparent;
  border: 0.2vmin solid forestgreen;
}

button.outline:hover {
  color: forestgreen;
}

button.outline:active {
  background-color: rgb(30, 124, 30);
  color: whitesmoke;
}

button:focus {
  outline: none;
}
