nav.window-nav {
  width: 100%;
  position: relative;
  display: flex;

  cursor: pointer;
}

nav.window-nav .window-dragger {
  display: inline-block;
  flex-grow: 1;

  -webkit-app-region: drag;
}

nav.window-nav .brand,
nav.window-nav .controls {
  margin: 1rem;
}

nav.window-nav .brand {
  display: inline-block;
  letter-spacing: 0.2rem;
}

nav.window-nav .controls {
  display: inline-block;
  flex-grow: 0;
}

nav.window-nav button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: whitesmoke;
}

nav.window-nav button:hover {
  color: red;
}

nav.window-nav button:active,
nav.window-nav button::selection,
nav.window-nav button:focus {
  color: darkred;
  outline: none;
}
