#login main {
  margin-top: 5rem;
}

#login main form {
  height: 50%;
  width: 90%;
  margin: auto;
}

#login main form .text-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#login main form[login="true"] #password_confirm_div {
  visibility: hidden;
}
