html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  color: whitesmoke;
  background-color: #1a1a1a;

  font-family: blackwidow, sans-serif;
  letter-spacing: 0.2rem;
}
