@font-face {
  font-family: "blackwidow";
  src: url("razerblackwidow-regular1-webfont.woff2") format("woff2"),
    url("razerblackwidow-regular1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
